<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="#"/>
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body style="margin: 5% 10%; background-color: #f8fbfc;">

    <div style="border:solid 1px #f0f8ff; text-align: center; background-color:White;">
        {% block index %}{% endblock %}

        <div >
            {% block photo_main %}{% endblock %}
        </div>

        <div style="position:relative; margin:10% 20%; padding: 40px;">
            {% block login %}{% endblock %}
        </div>
    </div>

</body>
</html>
