{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block login %}
    {% if get_flashed_messages() %}
        <div style="color:Red; margin-bottom:20px;" id="message">
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %} 
   
    <div style="padding:20px 40px; background-color:#9999cc; border-radius:20px;" onClick="document.getElementById('message').style.display='none';">

        <p>username/password: admin</p>
        <form action="" method="post">
            <p>Username <input type="text" name="username"></p>
            <p>Password <input type="password" name="password"></p>
            <p><input type="submit" value="Login" style="margin-top: 20px;"></p>
        </form>

    </div>

{% endblock %}
