{% extends 'base.html' %}
{% block title %}
    Album
{% endblock %}

{% block photo_main %}
<div style="padding:20px; background-color:White;">
    {% if user %}
        <div style="text-align:right;">
            <a href="{{ url_for('logout') }}">logout</a>
        </div>
        <p style="color:#33cc00; font-size: 20px;">
            Welcome: <span style="color:#006600;">{{ user }}</span>
        </p>
    {% endif %}

    <div style="text-align: left;" onClick="document.getElementById('msgUpload').style.display='none';">
        <p>Upload your photos here<p><br>
        {% if get_flashed_messages() %}
            <div style="color:Red; margin-bottom:10px; text-align:left;" id="msgUpload">
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="{{ url_for('upload_file', user=user) }}" enctype="multipart/form-data">
            <p>
                <input type="file" name="image">
                <input type="submit" value="Upload">
            </p>
        </form>
    </div>

    <div style="margin: 20px; border: solid 1px #ccdcff; overflow: auto">
        {% for image in photos %}
        <div style="width:20%; padding:4px; display:inline-block;">
            <img src="{{ image.url }}" style="width: 100%">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
