{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block login %}
    {% if get_flashed_messages() %}
        <div style="color:Red; margin-bottom:20px;" id="message">
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %} 
   
    <div style="padding:20px 60px; background-color:#99ccff; border-radius:20px;" onClick="document.getElementById('message').style.display='none';">

        <p style="font-size: 20px; color:#fff">Signup</p>
        <form action="{{ url_for('signup') }}" method="post">
            <input type="text" name="username" placeholder="username" id="username">
            <input type="password" name="password" placeholder="password" id="password">
            <input type="password" name="password1" placeholder="confirm password" id="confirm_pswd">
            <input type="email" name="email" placeholder="email" id="email">

            <p><input type="submit" value="Signup" style="margin-top: 10px;"></p>
            <a href="{{ url_for('login') }}">Have an account? Log in here</a>
        </form>

    </div>

{% endblock %}
